:root{
  --fondo_contenedor:rgba(8, 8, 9, 0.384);
  --colorBase: #10606b;
}
*{
  color:#ffffff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(-45deg, #342e73, #3c4e8e, #30738b, #492d76);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
  display: flex;
  flex-direction: row;
}
.final{
  display: flex;
  justify-content: flex-end;
}


.contenedorItems{
  background-color: var(--fondo_contenedor);
  width: 68%;
  height: 90%;
  border-radius: 15px;
  box-shadow:-1px 4px 8px black;
  display: flex;
  flex-direction: column;
}
/* ? Seccion del buscador*/
input{
  background-color: transparent;
  border: 0;
  width: 95%;
  border-bottom: solid 2px cyan;
  font-size: 1.7em;
  transition: ease-in 0.4s;
  padding-left: 18px;
  height: 2em ;
}
input:focus-visible{
  outline: none;
  box-shadow: 0px 0px 8px cyan;
  border-radius: 5px;
}
.buscador{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0 1em 0;
  
}
ul{
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-block-start: 0;
  padding-inline-start: 0;
  max-height: 31em;
  overflow:auto;
  scrollbar-color: cyan rgba(21, 32, 42, 0.75);
  scroll-behavior:smooth;
  scroll-snap-type:mandatory;
  padding: 15px 0 30px 0;
}
li{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.405);
  border-bottom: solid 1px rgb(113, 111, 111);
  width: 93%;
  border-radius: 8px;
  transition: ease-in 0.2s;
}
li:hover{
  box-shadow: 0px 3px 16px rgb(111, 250, 236);
  transition: ease-in 0.2s;
  padding: 1em 0 1em 0;
}
.contadorCampo{
  background-color: var(--fondo_contenedor);
  height: 58%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:-1px 4px 8px black;
}
.contenedorInfo{
  background-color: var(--fondo_contenedor);
  border-radius: 15px;
  height: 30%;
  width: 100%;
  box-shadow:-1px 4px 8px black;
}
.infoCoder{
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px 0 5px;
}
.fotoCoder{
  height: 6.5em;
  width:6.5em;
  display: flex;
}
.fotoCoder img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgb(33, 33, 33);
}
.socialCoder{
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialMedia{
  transition: ease-in 0.2s;

}
.socialMedia:hover{
  width: 50px;
  height: 50px;
  transition: linear 0.2s;
}
.columna{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 26%;
  justify-content: center;
}
.nameCoder{
  font-size: 1.4rem;
  margin-block-start: 1em;
  margin-block-end: 0;
  margin-left: 10px;
}
.textoGrande{
  font-weight: bolder;
  font-size: 2rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 10px;
}

.finalizado{
  text-decoration: line-through;
}

.botonNew{
  background-color: #68edff;
  
  margin: 1em;
  width: 80%;
  height: 4em;
  border: 0;
  border-radius: 10px;
  color:rgb(8, 39, 61);
  font-size: 1.3em;
  transition: 0.1s linear;
}
.botonNew:hover{
  background-color: cyan;
  box-shadow: 0px 1px 10px #54becc;
}
.newItem{
  background-color: rgba(3, 20, 23, 0.614);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  background-color: #17242b;
  width: 60%;
  height: 30%;
  border-radius: 15px;
  box-shadow: 0 0px 9px cyan;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.boton{
  background-color: #68edff;
  color:#17242b;
  padding: 1em;
  border: 0;
  border-radius: 8px;
  margin: 0.2em;
  font-size: 1em;
  transition: 0.18s linear;
}
.save{
  background-color: aquamarine;
}
.save:active{
  background-color: rgb(77, 181, 146);
  color: rgb(182, 251, 227);
}
.save:hover{
  box-shadow: 0 0 10px rgb(0, 255, 217);
}
.cancel{
  background-color: rgb(249, 51, 87);
  color: #ffffff;
  
}
.cancel:active{
  background-color: rgb(119, 27, 44);
}
.cancel:hover{
  box-shadow: 0 0 10px red;
}
.oculto{
  display: none;
}
.checked{
  color: #68edff;
  text-decoration: line-through;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}